$color-link:#575757;
$text-color:#727272;
$text-color-3:#767676; 
$text-color-title: #454546;
$text-title: #2d4e55;

// Input
$back-color-input:#f0f0f0;

// Button
$back-color-button:#395e66;

// Background-color
$back-color: #d1d1d1;