@font-face {
  font-family: 'Raleway Semibold';
  src: url("Raleway-SemiBold.eot");
  src: url("Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("Raleway-SemiBold.woff") format("woff"), url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Thin';
  src: url("Raleway-Thin.eot");
  src: url("Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url("Raleway-Light.eot");
  src: url("Raleway-Light.eot?#iefix") format("embedded-opentype"), url("Raleway-Light.woff") format("woff"), url("../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("Raleway-Regular.eot");
  src: url("Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url("Raleway-Medium.eot");
  src: url("Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("Raleway-Bold.eot");
  src: url("Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("Raleway-SemiBold.eot");
  src: url("Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("Raleway-SemiBold.woff") format("woff"), url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Thin';
  src: url("Raleway-Thin.eot");
  src: url("Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url("Raleway-Light.eot");
  src: url("Raleway-Light.eot?#iefix") format("embedded-opentype"), url("Raleway-Light.woff") format("woff"), url("../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("Raleway-Regular.eot");
  src: url("Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url("Raleway-Medium.eot");
  src: url("Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("Raleway-Bold.eot");
  src: url("Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Raleway-Regular, sans-serif;
  font-family: Raleway-Bold, sans-serif;
  font-family: Raleoway-SemiBold, sans-serif;
  font-family: Raleway-Light, sans-serif;
  font-family: Raleway-Thin, sans-serif;
  font-family: Raleway-Medium,sans-serif;
  color: #727272;
  font-size: 16px;
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-block__link {
  display: inline-block;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: #575757;
  border-radius: 300px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.social-block__link i {
  padding: 15px 18px;
}

.social-block__link:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

.form-main__wrapper {
  width: 850px;
  margin: 0 auto;
  background-color: white;
  padding: 30px 10px;
}

.form-wrap__text {
  border: none;
  background-color: #f0f0f0;
  padding: 15px 100px 15px 15px;
}

.form-wrap__text::-webkit-input-placeholder {
  color: #c0bebe;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  /* Text style for "Y, our nam" */
  letter-spacing: 0.56px;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-wrap__text:-moz-placeholder {
  color: #c0bebe;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  /* Text style for "Y, our nam" */
  letter-spacing: 0.56px;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-wrap__text::-moz-placeholder {
  color: #c0bebe;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  /* Text style for "Y, our nam" */
  letter-spacing: 0.56px;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-wrap__text:-ms-input-placeholder {
  color: #c0bebe;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  /* Text style for "Y, our nam" */
  letter-spacing: 0.56px;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-wrap__text:focus::-webkit-input-placeholder {
  opacity: 0;
  font-size: 18px;
}

.form-wrap__text:focus:-moz-placeholder {
  opacity: 0;
  font-size: 18px;
}

.form-wrap__text:focus::-moz-placeholder {
  opacity: 0;
  font-size: 18px;
}

.form-wrap__text:focus:-ms-input-placeholder {
  opacity: 0;
  font-size: 18px;
}

.form-wrap__email {
  border: 2px solid #e6e5e5;
  background-color: #f0f0f0;
  color: #454546;
  padding: 15px 100px 15px 15px;
}

.form-wrap__email::-webkit-input-placeholder {
  color: #454546;
  text-indent: 0px;
  -webkit-transition: text-indent 300ms;
  transition: text-indent 300ms;
}

.form-wrap__email:-moz-placeholder {
  color: #454546;
  text-indent: 0px;
  -webkit-transition: text-indent 300ms;
  transition: text-indent 300ms;
}

.form-wrap__email::-moz-placeholder {
  color: #454546;
  text-indent: 0px;
  -webkit-transition: text-indent 300ms;
  transition: text-indent 300ms;
}

.form-wrap__email:-ms-input-placeholder {
  color: #454546;
  text-indent: 0px;
  -webkit-transition: text-indent 300ms;
  transition: text-indent 300ms;
}

.form-wrap__email:focus::-webkit-input-placeholder {
  text-indent: 1000px;
}

.form-wrap__email:focus:-moz-placeholder {
  text-indent: 1000px;
}

.form-wrap__email:focus::-moz-placeholder {
  text-indent: 1000px;
}

.form-wrap__email:focus:-ms-input-placeholder {
  text-indent: 1000px;
}

.form-wrap .button {
  color: #fff;
  border: none;
  padding: 20px 34px;
  background-color: #395e66;
  font-family: Raleoway-SemiBold, sans-serif;
}

.form-wrap__subs {
  background-color: #395e66;
  font-family: Raleoway-SemiBold, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  /* Text style for "S, ubscrib" */
  letter-spacing: 0.56px;
  color: #fff;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("Raleway-SemiBold.eot");
  src: url("Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("Raleway-SemiBold.woff") format("woff"), url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Thin';
  src: url("Raleway-Thin.eot");
  src: url("Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url("Raleway-Light.eot");
  src: url("Raleway-Light.eot?#iefix") format("embedded-opentype"), url("Raleway-Light.woff") format("woff"), url("../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("Raleway-Regular.eot");
  src: url("Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url("Raleway-Medium.eot");
  src: url("Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("Raleway-Bold.eot");
  src: url("Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  background: #d1d1d1 url("/Elegancy-Web-Site-/elegancy/assets/images/head-bag.png") no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 40px;
}

.nav-block__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-block__link {
  color: #727272;
  font-family: Raleway-Light, sans-serif;
  font-weight: 400;
}

.nav-block__link:hover {
  text-decoration: none;
}

.form-main__item {
  margin-top: 150px;
}

.form-block__title {
  padding-bottom: 30px;
}

.form-block__text {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  /* Text style for "Join our n" */
  letter-spacing: 3.25px;
  padding-bottom: 40px;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("Raleway-SemiBold.eot");
  src: url("Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("Raleway-SemiBold.woff") format("woff"), url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Thin';
  src: url("Raleway-Thin.eot");
  src: url("Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url("Raleway-Light.eot");
  src: url("Raleway-Light.eot?#iefix") format("embedded-opentype"), url("Raleway-Light.woff") format("woff"), url("../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("Raleway-Regular.eot");
  src: url("Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url("Raleway-Medium.eot");
  src: url("Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("Raleway-Bold.eot");
  src: url("Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("Raleway-SemiBold.eot");
  src: url("Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("Raleway-SemiBold.woff") format("woff"), url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Thin';
  src: url("Raleway-Thin.eot");
  src: url("Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url("Raleway-Light.eot");
  src: url("Raleway-Light.eot?#iefix") format("embedded-opentype"), url("Raleway-Light.woff") format("woff"), url("../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("Raleway-Regular.eot");
  src: url("Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url("Raleway-Medium.eot");
  src: url("Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("Raleway-Bold.eot");
  src: url("Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  background: #d1d1d1 url("/Elegancy-Web-Site-/elegancy/assets/images/head-bag.png") no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 40px;
}

.nav-block__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-block__link {
  color: #727272;
  font-family: Raleway-Light, sans-serif;
  font-weight: 400;
}

.nav-block__link:hover {
  text-decoration: none;
}

.form-main__item {
  margin-top: 150px;
}

.form-block__title {
  padding-bottom: 30px;
}

.form-block__text {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  /* Text style for "Join our n" */
  letter-spacing: 3.25px;
  padding-bottom: 40px;
}

.features {
  background-color: white;
  padding: 60px 90px;
  height: auto;
}

.feature-main__title {
  color: #2d4e55;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  /* Text style for "Mobile Fri" */
  letter-spacing: 0.8px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.feature-main__text {
  color: #727272;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  /* Text style for "E, xcepteu" */
  letter-spacing: 0.7px;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("Raleway-SemiBold.eot");
  src: url("Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("Raleway-SemiBold.woff") format("woff"), url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Thin';
  src: url("Raleway-Thin.eot");
  src: url("Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url("Raleway-Light.eot");
  src: url("Raleway-Light.eot?#iefix") format("embedded-opentype"), url("Raleway-Light.woff") format("woff"), url("../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("Raleway-Regular.eot");
  src: url("Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url("Raleway-Medium.eot");
  src: url("Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("Raleway-Bold.eot");
  src: url("Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page_gray {
  background-color: #d1d1d1;
  padding: 150px 150px;
}

.gravity-block__title {
  color: #2d4e55;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  /* Text style for "Learn more" */
  letter-spacing: 1.3px;
}

.gravity-block__text {
  color: #727272;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* Text style for "E, xcepteu" */
  letter-spacing: 0.8px;
}
/*# sourceMappingURL=style.css.map */