@import "../_colors";
@import "../_fonts";
@import "../utils/glob";


// Основні стилі

.header {
    background: #d1d1d1 url('/Elegancy-Web-Site-/elegancy/assets/images/head-bag.png') no-repeat ;
    background-size:cover;
    height: 100vh;
    padding-top: 40px;
}


.nav-block {
    
    &__list{  // ul
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    

    &__link { // a
        color: $text-color;
        @include font-light;
        font-weight:400;
        // margin-right: 20px;
        &:hover {
            text-decoration: none;
            
        }
    }
}

.form-main{

    &__item{
        margin-top: 150px;
    }
}

.form-block{

    &__title{
        padding-bottom: 30px;
    }

    &__text{
        font-family: Raleway;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        /* Text style for "Join our n" */
        letter-spacing: 3.25px;
        padding-bottom: 40px;
    }
}


