@import "../_colors";

// Основні стилі
.top-nav {
    display: flex;
    align-items: flex-end;
    min-height: 50px;
    border: 1px solid red;
    &_menu {
        list-style: none;
        &__items {
            color: $text-color;
            font-family: 'Raleway-Regular', sans-serif;
            font-weight: 400;
            margin-right: 20px;
            &:hover {
                text-decoration: none;
                color: red;
            }
        }
    }
}